{% extends 'store/admin/main.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Thêm mới sản phẩm
            </div>
            <div class="card-body">

                <!-- Nếu cần phải upload file thì form bắt buộc phải có enctype="multipart/form-data" -->
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <hidden path="id"/>

                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="Title" class="form-control" />
                        <small id="emailHelp" class="form-text text-muted">
                            Tối đa 15 kí tự.
                        </small>
                    </div>

                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" name="Name" class="form-control" />
                        <small id="emailHelp" class="form-text text-muted">

                        </small>
                    </div>

                    <div class="form-group">
                        <label>Giá bán</label>
                        <input type="text" class="form-control"  name="Price"/>
                        <small id="emailHelp"  class="form-text text-muted">
                            Đơn vị tính là USD.
                        </small>
                    </div>


                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea id="txtDetailDescription" class="form-control"  name="Detail"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Avatar</label>
                       <input type="file" name="Image" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Ảnh sản phẩm</label>
                       <input type="file" name="ProductImages" class="form-control" multiple>
                    </div>

                    <button type="submit" class="btn btn-primary">Lưu trữ</button>
                </form>

            </div>
        </div>
    </div>
</main>
{% endblock content %}